@charset "UTF-8";
.managerWrap #SearchBox {
	width: 100%;
	background-color: #f5f5f5;
	border-radius: 10px;
	padding: 10px;
	float: right;
}

.managerWrap #SearchBox input {
	width: 20%;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 5px;
}

.managerWrap button {
	height: 30px;
	border-radius: 5px;
	border: 0px;
	padding: 5px;
	margin: 7px;
	background-color: rgb(133, 175, 255);
	color: #000;
}

.managerWrap button:hover {
	background-color: rgb(11, 76, 255);
	color: #fff;
}
.stepsign{position: fixed;bottom: -100vh;left: 50%;transform:translate(-50%,50%) ;width: 600px;background: white;padding: 30px;border-radius: 15px;}
.popupbg{position: fixed;background-color: rgba(0,0, 0, 0.3);width: 100%;height: 100%;display: none;}