@charset "UTF-8";
 *{padding: 0;margin: 0;border: 0;box-sizing: border-box;}
 ul,li{list-style: none;}
 a{color:#333;text-decoration: none;}
 .sideWrap{width: 300px;height: calc( 100% - 60px );background: blue;position: fixed;top:80px;left: 0;}
 .header{margin:0;}
 .logo{height: 80px;line-height: 80px;font-size: 22px;margin: 0;}
 .accordionList{display: block;width: 100%;height: 60px;padding: 1.25rem 0;}
 .managerWrap{margin-left: 300px;}