@charset "UTF-8";
.calc{max-width: 1440px;padding:100px 30px;margin: 0 auto; margin-top: 60px;}
.calc .calcList{display: flex;justify-content: space-between;}
.calc .calcTitle{text-align: center; font-size: 42px;}
.calc .calcItem {width: 820px;margin-right: 40px;}
.calc .calcBtn {width: 520px;}
.calc .calcItem h3 {font-size: 20px;margin-top: 30px;margin-bottom: 20px;}
.calc .address input{display: block;margin-top: 10px;width: 100%;height: 60px;font-size: 20px;padding:10px 20px;border: 1px solid #ddd;outline-color: rgba(61, 81, 255,0.6);}
.calc .time label{width: 398px;height: 180px;border: 1px solid #ddd;display: inline-block;border-radius: 5px;}
.calc .time label:nth-of-type(1){margin-right: 18px;}
.calc .time input { display: none;}
.calc .time input:checked + label {background: green;}
.calc .option label{display: flex;align-items: center;margin-top: 10px;width: 100%;height: 60px;font-size: 20px;padding:10px 20px;border: 1px solid #ddd;}
.calc .option input{margin-right: 20px;width: 30px;height: 30px;}
.calc .calcBtn {padding:30px;position: relative;border: 1px solid #ddd;margin-top: 80px;border: 1px solid #ddd;border-radius:5px;}
.calc .btnTitle{font-size: 30px;}
.calc .calcBtn .reset{position: absolute;top:30px;right: 30px;padding: 8px;border: 1px solid #eee;background: white;box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);border-radius: 5px;}
.calc .calcBtn ul{padding:20px 0;}
.calc .calcBtn li{display: flex;justify-content: space-between;margin-top: 10px;}
.calc .calcBtn li p {font-size: 20px;}
.calc .calcBtn li p:nth-child(2){font-weight: 900;}
.calc .calcBtn .resultchk{padding: 30px 0;display: flex;justify-content: space-between;font-size: 20px;}
.calc .calcBtn .resultchk p:nth-child(2) {color: rgb(61, 81, 255);font-weight: 900;font-size: 24px;}
.calc .calcBtn .resultBtn{width: 100%;text-align: center;color: white;padding:20px;background: rgb(61, 81, 255);font-size: 24px;font-weight: 900;border-radius: 5px;display: block;}
.calc .detailNext{display:block;width: 200px;height: 60px;margin:0 auto;background: rgb(61, 81, 255);color:white;text-align: center;line-height: 60px;font-size:30px;margin-top:50px;border-radius: 10px;}