@charset "UTF-8";
.mainSection{background: url('../../image/main_kv.png') no-repeat center center/140% auto ;height: 100vh;color: white;}
.mainSection article{max-width: 1440px;padding: 300px 30px;height: 100%;margin: 0 auto;}
.mainSection p{font-size: 3rem;height: 60px;}
.mainSection h2{font-size: 3.5rem;font-weight: bold;height: 60px;}
.mainSection button{margin-top: 60px;display: flex;justify-content: center;align-items: center;height: 70px;width: 300px;border-radius: 10px;background: rgb(61, 81, 255);font-size: 20px;color:#fff;font-weight: bold;}
.mainCnt {margin: 0 auto; display: flex;flex-flow: column;justify-content: center;align-items: center;padding:50px;font-size: 20px;}
.mainCnt article {margin-top: 30px;display: flex;justify-content: space-between;align-items: center;width: 500px;}
.mainCnt article p:nth-child(1){font-size: 30px;font-weight: 700;}
.mainCnt article p:nth-child(2){font-size: 40px;font-weight: 900;}
.mainProcess {padding: 50px;}
.mainProcess h2{text-align: center;font-size: 40px;}
.mainProcess ul {width: 800px;margin: 0 auto;display: flex;justify-content: space-between;margin-top: 60px;}
.mainProcess ul li{width: 200px;}
.mainProcess ul li figure{padding:0 40px;position: relative;}
.mainProcess ul li:not(.mainProcess ul li:last-child) figure::after{content: ">";display: block;position: absolute;top:40px;right: -9px;}
.mainProcess ul li img{width: 100%;}
.mainProcess ul li p {text-align: center;font-size: 18px;font-weight: bold;margin-top: 30px;}
